Repository Digital-History-Berlin/CREST-Annotation: changes, and which Bitbucket steps are due for each by the changed paths.
All: Upgrade database, Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

Path conditions:
  Upgrade database: any of: crest-annotation-backend/alembic/**, bitbucket-pipelines.yml
  Install web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Style check web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Lint web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Build web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Lint backend: any of: crest-annotation-backend/**, bitbucket-pipelines.yml
  Build and publish backend docker image: any of: crest-annotation-backend/**, crest-annotation-docker/**, bitbucket-pipelines.yml
  Build and publish web docker image: any of: crest-annotation-web/**, crest-annotation-docker/**, bitbucket-pipelines.yml
  Deploy to ECS: any of: crest-annotation-docker/**, crest-annotation-backend/**, crest-annotation-web/**, bitbucket-pipelines.yml

fix: minor changes
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/features/annotate/index.tsx
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

feat: working on segmentation algorithms
  crest-annotation-backend/iiif.sqlite
  crest-annotation-cv/.env.local
  crest-annotation-cv/.gitignore
  crest-annotation-cv/.pylintrc
  crest-annotation-cv/README.md
  crest-annotation-cv/app/__init__.py
  crest-annotation-cv/app/algorithms/__init__.py
  crest-annotation-cv/app/algorithms/example_segment/__init__.py
  crest-annotation-cv/app/algorithms/example_segment/segment.py
  crest-annotation-cv/app/algorithms/facebook_sam/__init__.py
  crest-annotation-cv/app/algorithms/facebook_sam/segment.py
  crest-annotation-cv/app/environment.py
  crest-annotation-cv/app/main.py
  crest-annotation-web/src/features/annotate/components/tools/Mask.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/slice/tools.ts
  crest-annotation-web/src/features/annotate/tools/mask.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: proof-of-concept sam (very slow)
  crest-annotation-backend/iiif.sqlite
  crest-annotation-cv/app/algorithms/example_segment/__init__.py
  crest-annotation-cv/app/algorithms/example_segment/segment.py
  crest-annotation-cv/app/algorithms/facebook_sam/__init__.py
  crest-annotation-cv/app/algorithms/facebook_sam/segment.py
  crest-annotation-cv/app/main.py
  crest-annotation-cv/requirements.txt
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/app/store.ts
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Mask.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Segment.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/epics.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/tools/segment.ts
  crest-annotation-web/src/types/MaybePromise.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: tool config
  .vscode/settings.json
  crest-annotation-backend/iiif.sqlite
  crest-annotation-cv/.env.local
  crest-annotation-cv/app/algorithms/example_segment/segment.py
  crest-annotation-cv/app/algorithms/facebook_sam/segment.py
  crest-annotation-cv/app/environment.py
  crest-annotation-cv/app/main.py
  crest-annotation-cv/app/routers/__init__.py
  crest-annotation-cv/app/routers/common.py
  crest-annotation-cv/app/schemas/__init__.py
  crest-annotation-cv/app/schemas/common.py
  crest-annotation-web/.eslintrc.js
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/features/annotate/components/AnnotationsLayer.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/configs/SegmentPane.tsx
  crest-annotation-web/src/features/annotate/components/configs/ToolPane.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Segment.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/epics.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/tools.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: colorize masks and bugfixes
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/components/SidebarContainer.tsx
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/configs/SegmentPane.tsx
  crest-annotation-web/src/features/annotate/components/configs/ToolPane.tsx
  crest-annotation-web/src/features/annotate/components/tools/Mask.tsx
  crest-annotation-web/src/features/annotate/components/tools/Segment.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/epics.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/tools.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: minor improvements in segmentation
  crest-annotation-backend/iiif.sqlite
  crest-annotation-cv/app/algorithms/example_segment/segment.py
  crest-annotation-cv/app/algorithms/facebook_sam/segment.py
  crest-annotation-web/src/features/annotate/components/tools/Mask.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/index.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: deployment
  .vscode/settings.json
  crest-annotation-backend/app/dependencies/__init__.py
  crest-annotation-backend/app/models/__init__.py
  crest-annotation-docker/docker-compose.aws.yaml
Due: Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: limit image size by default
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/features/annotate/index.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

refactor: minor code adjustment
  crest-annotation-web/src/features/objects/components/ObjectCard.tsx
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

chore: whitespace
  .vscode/settings.json
  crest-annotation-backend/app/schemas/modifiers.py
Due: Lint backend, Build and publish backend docker image, Deploy to ECS

wip: some refactoring
  .vscode/settings.json
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-docker/docker-compose.yaml
  crest-annotation-web/public/manifest.json
  crest-annotation-web/src/api/rootApi.ts
  crest-annotation-web/src/app/store.ts
  crest-annotation-web/src/features/annotate/components/AnnotationTools.tsx
  crest-annotation-web/src/features/annotate/components/AnnotationsLayer.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/LabelsExplorer.tsx
  crest-annotation-web/src/features/annotate/components/LabelsPopup.tsx
  crest-annotation-web/src/features/annotate/components/configs/SegmentPane.tsx
  crest-annotation-web/src/features/annotate/components/tools/Segment.tsx
  crest-annotation-web/src/features/annotate/epics.ts
  crest-annotation-web/src/features/annotate/hooks.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/slice/configs.ts
  crest-annotation-web/src/features/annotate/slice/tools.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: before refactoring
  crest-annotation-backend/.env.local
  crest-annotation-backend/.gitignore
  crest-annotation-backend/app/dependencies/cache.py
  crest-annotation-backend/app/environment.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/app/hooks.ts
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/hooks.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: refactoring interaction
  crest-annotation-backend/app/api/__init__.py
  crest-annotation-backend/app/dependencies/cache.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/features/annotate/components/ActionStreamProvider.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Segment.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/hooks.ts
  crest-annotation-web/src/features/annotate/hooks/use-action-stream.ts
  crest-annotation-web/src/features/annotate/hooks/use-annotation-tools.ts
  crest-annotation-web/src/features/annotate/hooks/use-input-events.ts
  crest-annotation-web/src/features/annotate/index.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: working commit
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/features/annotate/components/ActionStreamProvider.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Line.tsx
  crest-annotation-web/src/features/annotate/components/tools/Mask.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Segment.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/hooks/use-action-stream.ts
  crest-annotation-web/src/features/annotate/hooks/use-annotation-tools.ts
  crest-annotation-web/src/features/annotate/hooks/use-input-events.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/tools/circle.ts
  crest-annotation-web/src/features/annotate/tools/line.ts
  crest-annotation-web/src/features/annotate/tools/mask.ts
  crest-annotation-web/src/features/annotate/tools/polygon.ts
  crest-annotation-web/src/features/annotate/tools/rectangle.ts
  crest-annotation-web/src/features/annotate/tools/shape.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

wip: more tools and stability
  crest-annotation-web/src/features/annotate/components/AnnotationTools.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/PreviewLayer.tsx
  crest-annotation-web/src/features/annotate/components/previews/PenPreview.tsx
  crest-annotation-web/src/features/annotate/components/previews/PolygonPreview.tsx
  crest-annotation-web/src/features/annotate/hooks/use-operation-controller.ts
  crest-annotation-web/src/features/annotate/hooks/use-registry.ts
  crest-annotation-web/src/features/annotate/hooks/use-tool-controller.ts
  crest-annotation-web/src/features/annotate/hooks/use-toolbox-controller.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/tools.ts
  crest-annotation-web/src/features/annotate/tools/circle.ts
  crest-annotation-web/src/features/annotate/tools/pen.ts
  crest-annotation-web/src/features/annotate/tools/polygon.ts
  crest-annotation-web/src/features/annotate/types/thunks.ts
  crest-annotation-web/src/features/annotate/types/tools.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

wip: restoring features after refactor
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
  crest-annotation-web/src/features/annotate/components/canvas/Shape.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarTools.tsx
  crest-annotation-web/src/features/annotate/hooks/use-navigate-random.ts
  crest-annotation-web/src/features/annotate/hooks/use-object-controller.ts
  crest-annotation-web/src/features/annotate/hooks/use-tool-info.ts
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/atomic-drag-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/circle/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/custom-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/types.ts
  crest-annotation-web/src/features/annotate/toolbox/edit/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/index.ts
  crest-annotation-web/src/features/annotate/toolbox/onnx/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/onnx/types.ts
  crest-annotation-web/src/features/annotate/toolbox/pen/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/polygon/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/rectangle/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/segment/types.ts
  crest-annotation-web/src/features/annotate/types/thunks.ts
  crest-annotation-web/src/features/annotate/types/toolbox.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

chore: sam working
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/features/annotate/components/canvas/AnnotationsLayer.tsx
  crest-annotation-web/src/features/annotate/components/canvas/BackgroundImage.tsx
  crest-annotation-web/src/features/annotate/components/canvas/BackgroundLayer.tsx
  crest-annotation-web/src/features/annotate/components/canvas/Shape.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarTools.tsx
  crest-annotation-web/src/features/annotate/components/shapes/Mask.tsx
  crest-annotation-web/src/features/annotate/hooks/use-annotation-middleware.ts
  crest-annotation-web/src/features/annotate/hooks/use-input-events.ts
  crest-annotation-web/src/features/annotate/hooks/use-tool-info.ts
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/slice/operation.ts
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/atomic-drag-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/custom-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/types.ts
  crest-annotation-web/src/features/annotate/toolbox/index.ts
  crest-annotation-web/src/features/annotate/toolbox/onnx/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/onnx/types.ts
  crest-annotation-web/src/features/annotate/toolbox/polygon/thunks.ts
  crest-annotation-web/src/features/annotate/types/operation.ts
  crest-annotation-web/src/features/annotate/types/shapes.ts
  crest-annotation-web/src/features/annotate/types/thunks.ts
  crest-annotation-web/src/features/annotate/types/toolbox.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: dynamic cv tool interface
  crest-annotation-web/src/features/annotate/toolbox/ShapePreview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/types.ts
  crest-annotation-web/src/features/annotate/toolbox/index.ts
  crest-annotation-web/src/features/annotate/toolbox/pen/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/polygon/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/rectangle/Preview.tsx
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

feat: wrapped debounce
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/thunks.ts
  crest-annotation-web/src/types/debounce.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

wip: code cleanup
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/features/annotate/slice/operation.ts
  crest-annotation-web/src/features/annotate/toolbox/async-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/circle/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/custom-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/helpers/scaleHelper.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/tools.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/types.ts
  crest-annotation-web/src/features/annotate/toolbox/pen/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/polygon/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/rectangle/thunks.ts
  crest-annotation-web/src/features/annotate/types/operation.ts
  crest-annotation-web/src/types/debounce.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

feat: clean backend integration
  crest-annotation-backend/iiif.sqlite
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-web/src/components/layouts/Layout.tsx
  crest-annotation-web/src/features/annotate/components/canvas/Shape.tsx
  crest-annotation-web/src/features/annotate/components/sections/ConfigurationContainer.tsx
  crest-annotation-web/src/features/annotate/components/sections/StatusbarProgress.tsx
  crest-annotation-web/src/features/annotate/components/shapes/Circle.tsx
  crest-annotation-web/src/features/annotate/components/shapes/Line.tsx
  crest-annotation-web/src/features/annotate/components/shapes/Mask.tsx
  crest-annotation-web/src/features/annotate/components/shapes/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/shapes/Rectangle.tsx
  crest-annotation-web/src/features/annotate/hooks/use-tool-info.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/operation.ts
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/ShapePreview.tsx
  crest-annotation-web/src/features/annotate/toolbox/async-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/custom-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/tools.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/types.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/types.ts
  crest-annotation-web/src/features/annotate/toolbox/index.ts
  crest-annotation-web/src/features/annotate/toolbox/polygon/Preview.tsx
  crest-annotation-web/src/features/annotate/types/components.ts
  crest-annotation-web/src/features/annotate/types/preview.ts
  crest-annotation-web/src/features/annotate/types/shapes.ts
  crest-annotation-web/src/features/annotate/types/thunks.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: autodetect crests
  crest-annotation-backend/iiif.sqlite
  crest-annotation-cv/app/algorithms/custom_crest_detection/__init__.py
  crest-annotation-cv/app/algorithms/custom_crest_detection/routes.py
  crest-annotation-cv/app/algorithms/example_segment/__init__.py
  crest-annotation-cv/app/algorithms/example_segment/routes.py
  crest-annotation-cv/app/algorithms/facebook_sam/__init__.py
  crest-annotation-cv/app/algorithms/facebook_sam/routes.py
  crest-annotation-cv/app/algorithms/facebook_sam_onnx/routes.py
  crest-annotation-cv/app/main.py
  crest-annotation-cv/app/routers/info.py
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/features/annotate/hooks/use-annotation-middleware.ts
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/types.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: auto-detect crests
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/features/annotate/components/canvas/PreviewLayer.tsx
  crest-annotation-web/src/features/annotate/components/canvas/Shape.tsx
  crest-annotation-web/src/features/annotate/components/sections/ConfigurationContainer.tsx
  crest-annotation-web/src/features/annotate/components/shapes/Rectangle.tsx
  crest-annotation-web/src/features/annotate/slice/operation.ts
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/ShapePreview.tsx
  crest-annotation-web/src/features/annotate/toolbox/async-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/atomic-drag-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/circle/types.ts
  crest-annotation-web/src/features/annotate/toolbox/custom-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/types.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/cv-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/types.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/hooks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/types.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/types.ts
  crest-annotation-web/src/features/annotate/toolbox/hooks.ts
  crest-annotation-web/src/features/annotate/toolbox/index.ts
  crest-annotation-web/src/features/annotate/toolbox/pen/types.ts
  crest-annotation-web/src/features/annotate/toolbox/polygon/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/polygon/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/polygon/types.ts
  crest-annotation-web/src/features/annotate/toolbox/rectangle/types.ts
  crest-annotation-web/src/features/annotate/types/components.ts
  crest-annotation-web/src/features/annotate/types/operation.ts
  crest-annotation-web/src/features/annotate/types/thunks.ts
  crest-annotation-web/src/types/thunks.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: improve reload from local storage
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/async-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/custom-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/cv-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/hooks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/types/thunks.ts
  crest-annotation-web/src/features/annotate/types/toolbox.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

wip: minor changes
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

wip: minor fixes
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/features/annotate/components/sections/ConfigurationContainer.tsx
  crest-annotation-web/src/features/annotate/hooks/use-tool-info.ts
  crest-annotation-web/src/features/annotate/toolbox/create-atomic-drag-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/create-custom-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/generic-single-mask/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/index.ts
  crest-annotation-web/src/features/annotate/types/toolbox-thunks.ts
  crest-annotation-web/src/features/annotate/types/toolbox.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: minor improvements
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
  crest-annotation-web/src/app/hooks.ts
  crest-annotation-web/src/features/annotate/components/dialogs/ToolSettingsDialog.tsx
  crest-annotation-web/src/features/annotate/components/sections/ConfigurationContainer.tsx
  crest-annotation-web/src/features/annotate/components/sections/LabelsContainer.tsx
  crest-annotation-web/src/features/annotate/slice/canvas.ts
  crest-annotation-web/src/features/annotate/toolbox/create-atomic-drag-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/types.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/hooks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/types/operation.ts
  crest-annotation-web/src/features/project/wizards/labels-ontology/LabelsPage.tsx
  crest-annotation-web/src/features/projects/index.tsx
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

fix: operation completion
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/thunks.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

fix: minor fixes
  crest-annotation-cv/app/dependencies/facebook_sam.py
  crest-annotation-web/src/features/annotate/components/canvas/PreviewLayer.tsx
  crest-annotation-web/src/features/annotate/hooks/use-operation-state.ts
  crest-annotation-web/src/features/annotate/hooks/use-tool-controller.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Preview.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/types.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/types/operation.ts
  crest-annotation-web/src/features/annotate/types/toolbox-thunks.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

feat: simple task manager
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/object.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-cv/app/algorithms/custom_crest_detection/routes.py
  crest-annotation-cv/app/algorithms/facebook_sam_onnx/routes.py
  crest-annotation-cv/app/dependencies/task_pool.py
  crest-annotation-cv/app/main.py
  crest-annotation-cv/app/routers/common.py
  crest-annotation-cv/app/routers/info.py
  crest-annotation-cv/app/schemas/common.py
  crest-annotation-cv/generate_openapi.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/cvApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/objects/components/ObjectCard.tsx
  crest-annotation-web/src/features/objects/index.tsx
  crest-annotation-web/src/features/project/components/TasksTab.tsx
  crest-annotation-web/src/features/project/index.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: task pool
  crest-annotation-cv/app/algorithms/custom_crest_detection/routes.py
  crest-annotation-cv/app/dependencies/task_pool.py
  crest-annotation-cv/app/schemas/common.py
  crest-annotation-web/src/features/project/components/TasksTab.tsx
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

feat: import from filesystem
  crest-annotation-backend/app/api/__init__.py
  crest-annotation-backend/app/api/import_objects_filesystem/__init__.py
  crest-annotation-backend/app/api/import_objects_filesystem/dependencies.py
  crest-annotation-backend/app/api/import_objects_filesystem/router.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/dialogs/DeleteProjectDialog.tsx
  crest-annotation-web/src/components/layouts/CardLayout.tsx
  crest-annotation-web/src/features/project/components/WizardsTab.tsx
  crest-annotation-web/src/features/project/wizards/objects-filesystem/InfoPage.tsx
  crest-annotation-web/src/features/project/wizards/objects-filesystem/SourcePage.tsx
  crest-annotation-web/src/features/project/wizards/objects-filesystem/index.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif3/InfoPage.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

fix: use enhanced api
  crest-annotation-docker/task.yaml
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/features/annotate/hooks/use-annotation-middleware.ts
  crest-annotation-web/src/features/project/wizards/objects-filesystem/InfoPage.tsx
  crest-annotation-web/src/features/project/wizards/objects-filesystem/SourcePage.tsx
  crest-annotation-web/src/features/projects/components/ProjectCard.tsx
Due: Install web, Style check web, Lint web, Build web, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

fix: problem with sam-onnx
  crest-annotation-cv/app/algorithms/facebook_sam_onnx/routes.py
  crest-annotation-web/src/features/annotate/toolbox/cv/sam-onnx/thunks.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

fix: correctly loading images from container
  crest-annotation-backend/.env.local
  crest-annotation-backend/app/api/export_yaml/router.py
  crest-annotation-backend/app/api/import_labels_ontology/dependencies.py
  crest-annotation-backend/app/api/import_objects_filesystem/dependencies.py
  crest-annotation-backend/app/api/import_objects_filesystem/router.py
  crest-annotation-backend/app/api/import_objects_iiif2/dependencies.py
  crest-annotation-backend/app/api/import_objects_iiif2/router.py
  crest-annotation-backend/app/api/import_objects_iiif3/dependencies.py
  crest-annotation-backend/app/api/import_objects_iiif3/router.py
  crest-annotation-backend/app/api/service_image_iiif/iiif2.py
  crest-annotation-backend/app/api/service_image_iiif/iiif3.py
  crest-annotation-backend/app/environment.py
  crest-annotation-backend/app/routers/objects.py
Due: Lint backend, Build and publish backend docker image, Deploy to ECS

fix: select label from explorer
  crest-annotation-web/src/features/annotate/hooks/use-tool-controller.ts
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/create-custom-tool.ts
  crest-annotation-web/src/features/annotate/types/toolbox-thunks.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS
