Repository Digital-History-Berlin/CREST-Annotation: changes, and which Bitbucket steps are due for each by the changed paths.
All: install-web, style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

Path conditions:
  install-web: any of: crest-annotation-web/package.*.json
  style-web: any of: crest-annotation-web/**
  lint-web: any of: crest-annotation-web/**
  build-web: any of: crest-annotation-web/**
  lint-backend: any of: crest-annotation-backend/**
  Build and publish backend docker image: any of: crest-annotation-backend/**, crest-annotation-docker/**
  Build and publish web docker image: any of: crest-annotation-web/**, crest-annotation-docker/**

feat(backend): import labels from ontology
  crest-annotation-backend/README.md
  crest-annotation-backend/alembic/versions/7ad95629b413_add_project_color_table.py
  crest-annotation-backend/alembic/versions/af553dbdd5fb_add_label_reference.py
  crest-annotation-backend/alembic/versions/d99eeb392fe5_allow_duplicate_label_reference.py
  crest-annotation-backend/alembic/versions/ef8299b0c950_add_label_parent_id.py
  crest-annotation-backend/app/dependencies/colors.py
  crest-annotation-backend/app/dependencies/ontology.py
  crest-annotation-backend/app/models/labels.py
  crest-annotation-backend/app/models/projects.py
  crest-annotation-backend/app/routers/labels.py
  crest-annotation-backend/app/routers/projects.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/label.py
  crest-annotation-backend/app/schemas/ontology.py
  crest-annotation-backend/app/schemas/project.py
  crest-annotation-backend/requirements.txt
  crest-annotation-openapi/openapi.json
Due: lint-backend, Build and publish backend docker image

feat(backend): color table in project
  crest-annotation-backend/app/routers/projects.py
  crest-annotation-backend/app/schemas/project.py
Due: lint-backend, Build and publish backend docker image

feat(backend): response contains import problems
  crest-annotation-backend/app/routers/labels.py
  crest-annotation-backend/app/schemas/ontology.py
  crest-annotation-backend/app/schemas/project.py
Due: lint-backend, Build and publish backend docker image

feat(web): import UI and nested label UI
  crest-annotation-openapi/openapi.json
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/Loader.tsx
  crest-annotation-web/src/components/layouts/CardLayout.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/project/components/ImportLabels.tsx
  crest-annotation-web/src/features/project/components/ImportMeta.tsx
  crest-annotation-web/src/features/project/components/ImportOntology.tsx
  crest-annotation-web/src/features/project/components/ImportProblems.tsx
  crest-annotation-web/src/features/project/components/ImportTab.tsx
  crest-annotation-web/src/features/project/components/LabelRow.tsx
  crest-annotation-web/src/features/project/components/LabelsBranch.tsx
  crest-annotation-web/src/features/project/components/LabelsTab.tsx
  crest-annotation-web/src/features/project/index.tsx
  crest-annotation-web/src/themes/palette.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

feat(backend): flags and sort order for labels
  crest-annotation-backend/alembic/versions/bdaa73915d0f_add_label_flags_and_label_count.py
  crest-annotation-backend/app/models/labels.py
  crest-annotation-backend/app/routers/labels.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/sorting.py
Due: lint-backend, Build and publish backend docker image

feat: star labels
  crest-annotation-backend/alembic/versions/7d0f0fcfd2bc_add_label_starred_and_label_count.py
  crest-annotation-backend/app/models/labels.py
  crest-annotation-backend/app/routers/labels.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/label.py
  crest-annotation-backend/app/schemas/modifiers.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/Loader.tsx
  crest-annotation-web/src/features/annotate/components/LabelsList.tsx
  crest-annotation-web/src/features/project/components/LabelRow.tsx
  crest-annotation-web/src/features/project/components/LabelsBranch.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

chore: note on outdated schemas
  crest-annotation-backend/app/schemas/object.py
  crest-annotation-backend/app/schemas/project.py
Due: lint-backend, Build and publish backend docker image

feat(web): tree label structure in annotation view
  crest-annotation-backend/app/routers/labels.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/Dot.tsx
  crest-annotation-web/src/components/SidebarContainer.tsx
  crest-annotation-web/src/features/annotate/components/AnnotationsList.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/LabelsExplorer.tsx
  crest-annotation-web/src/features/annotate/components/LabelsList.tsx
  crest-annotation-web/src/features/annotate/components/LabelsPopup.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/project/components/ImportOntology.tsx
  crest-annotation-web/src/features/project/components/ImportProblems.tsx
  crest-annotation-web/src/features/project/components/ImportTab.tsx
  crest-annotation-web/src/features/project/components/LabelRow.tsx
  crest-annotation-web/src/features/project/components/LabelsTab.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

fix: cursor on mouse leave
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

fix: grouped labels tab
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-web/src/features/project/components/LabelsTab.tsx
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

fix: incorrect json parse call
  crest-annotation-backend/app/dependencies/colors.py
Due: lint-backend, Build and publish backend docker image

fix: jsonify color table when writing to db
  crest-annotation-backend/app/dependencies/colors.py
  crest-annotation-backend/app/routers/projects.py
Due: lint-backend, Build and publish backend docker image

chore: lint
  crest-annotation-backend/.pylintrc
  crest-annotation-backend/app/routers/labels.py
  crest-annotation-backend/app/schemas/modifiers.py
Due: lint-backend, Build and publish backend docker image

feat: edit polygon with select tool
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

style: removed unused imports
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

fix: annotation not being edited sometimes and crosshair shown when selecting a polygon
  crest-annotation-web/src/features/annotate/components/AnnotationsList.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: add edit tool and let konva circles handle update
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: fix duplicate code in render method
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: eslint wants another return in map
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

fix: edit points of polygon not clickable if under another annotation
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

fix: unnecessary drawing of circles when rendering polygon
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: removed duplicated code of polygon line in render
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: remove unnecessary check in render method
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: syntax sugar for render method
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: add more syntax sugar for render method
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: add basic zoom on mouse scroll and panning with select tool
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

wip: moved rendering to components
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Line.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/ShapeProps.ts
  crest-annotation-web/src/features/annotate/slice.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

fix:bug while trying to edit polygons
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

fix: use JSX syntax to mount shape components
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: add editing for circle radius
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: code cleanup and event handling in children
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Line.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.ts
  crest-annotation-web/src/features/annotate/components/tools/ShapeProps.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/tools/line.ts
  crest-annotation-web/src/features/annotate/tools/polygon.ts
  crest-annotation-web/src/features/annotate/tools/shape.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: make moving of circles and rectangles possible, fix radius editing
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: add editing of rectangle width/height
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: mark an images as finished with button click (only static)
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/Toolbar.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

fix: add dynamic reading of objectId's for marking them as finished
  crest-annotation-web/src/components/Toolbar.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: change button name
  crest-annotation-web/src/components/Toolbar.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: move finished button to AnnotationPage
  crest-annotation-web/src/components/Toolbar.tsx
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

chore: remove obsolete imports
  crest-annotation-web/src/components/Toolbar.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: add button to go to projects-page from annotation page, change edit mode button
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

chore: style fix and renaming
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image
