Repository Digital-History-Berlin/CREST-Annotation: changes, and which Bitbucket steps are due for each by the changed paths.
All: install-web, style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

Path conditions:
  install-web: any of: crest-annotation-web/package.*.json
  style-web: any of: crest-annotation-web/**
  lint-web: any of: crest-annotation-web/**
  build-web: any of: crest-annotation-web/**
  lint-backend: any of: crest-annotation-backend/**
  Build and publish backend docker image: any of: crest-annotation-backend/**, crest-annotation-docker/**
  Build and publish web docker image: any of: crest-annotation-web/**, crest-annotation-docker/**

chore: code cleanup
  crest-annotation-backend/app/main.py
  crest-annotation-backend/app/routers/imports/__init__.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/transactions/__init__.py
  crest-annotation-backend/app/transactions/import_labels_ontology/__init__.py
  crest-annotation-backend/app/transactions/import_labels_ontology/dependencies.py
  crest-annotation-backend/app/transactions/import_labels_ontology/router.py
  crest-annotation-backend/app/transactions/import_labels_ontology/schemas.py
  crest-annotation-backend/app/transactions/import_objects_iiif3/__init__.py
  crest-annotation-backend/app/transactions/import_objects_iiif3/dependencies.py
  crest-annotation-backend/app/transactions/import_objects_iiif3/router.py
  crest-annotation-backend/app/transactions/import_objects_iiif3/schemas.py
  crest-annotation-web/src/features/objects/index.tsx
  crest-annotation-web/src/features/project/components/WizardsTab.tsx
  crest-annotation-web/src/features/project/wizards/labels-ontology/index.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif2/InfoPage.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif2/SourcePage.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif2/index.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif3/InfoPage.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif3/SourcePage.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif3/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

chore: merge labels
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/LabelsPopup.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Line.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

chore: faster zooming
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: cancel annotation on click away popup
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: improve zoom
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Anchor.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: load image with zoom
  crest-annotation-web/src/features/annotate/components/BackgroundImage.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

chore: fix label and remove obsolete wizard
  crest-annotation-web/src/features/project/components/WizardsTab.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif3/InfoPage.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: project schemas
  crest-annotation-backend/app/routers/projects.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/project.py
Due: lint-backend, Build and publish backend docker image

chore: docker updates
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-docker/docker-compose.yaml
  crest-annotation-docker/templates/default.conf.template
  crest-annotation-docker/web/Dockerfile
  crest-annotation-docker/web/env.sh
  crest-annotation-docker/web/nginx.conf
Due: Build and publish backend docker image, Build and publish web docker image

chore: nginx and CI update
  bitbucket-pipelines.yml
  crest-annotation-docker/README.md
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-docker/web/.htpasswd
  crest-annotation-docker/web/Dockerfile
  crest-annotation-docker/web/nginx.conf
  crest-annotation-web/.env.local
  crest-annotation-web/src/api/rootApi.ts
  crest-annotation-web/src/app/hooks.ts
  crest-annotation-web/src/components/Toolbar.tsx
  crest-annotation-web/src/global.d.ts
  crest-annotation-web/src/index.tsx
  ecr.sh
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

feat: add tooltips for buttons in toolbar
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: removed not need styles for button
  crest-annotation-web/src/components/ToolbarButton.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: add buttons between the objects, settings and annotate page
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/objects/index.tsx
  crest-annotation-web/src/features/project/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

chore: custom deploy pipeline
  bitbucket-pipelines.yml
Due: none

fix: bug that stopped creation of groups with more than two objects
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/slice.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: remove duplicated code for createAnnotation function
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

hotfix: corrected project schema and improve deployment
  crest-annotation-backend/app/api/import_labels_ontology/schemas.py
  crest-annotation-backend/app/api/import_objects_iiif3/schemas.py
  crest-annotation-backend/app/schemas/label.py
  crest-annotation-backend/app/schemas/object.py
  crest-annotation-backend/app/schemas/project.py
  crest-annotation-docker/README.md
  crest-annotation-docker/deploy-cluster.sh
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-docker/docker-compose.yaml
  crest-annotation-docker/task.yaml
  crest-annotation-docker/web/Dockerfile
  crest-annotation-docker/web/nginx.conf.template
  deploy.sh
Due: lint-backend, Build and publish backend docker image, Build and publish web docker image

refactor: use mui props for toolbar buttons
  crest-annotation-web/src/components/ToolbarButton.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: remove not need props for toolbar buttons
  crest-annotation-web/src/components/ToolbarButton.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: change icons for toolbar tools with icons from iconify
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: modify "finished annotating" text to show better context
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/objects/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

refactor: remove console logs
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: improve editing
  crest-annotation-backend/.env.local
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-docker/docker-compose.yaml
  crest-annotation-web/.env.development
  crest-annotation-web/.env.local
  crest-annotation-web/.env.production
  crest-annotation-web/src/api/rootApi.ts
  crest-annotation-web/src/app/store.ts
  crest-annotation-web/src/features/annotate/components/AnnotationsLayer.tsx
  crest-annotation-web/src/features/annotate/components/AnnotationsList.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/InputStage.tsx
  crest-annotation-web/src/features/annotate/components/LabelsExplorer.tsx
  crest-annotation-web/src/features/annotate/components/tools/Anchor.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Line.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.ts
  crest-annotation-web/src/features/annotate/components/tools/Shape.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/components/types/Events.ts
  crest-annotation-web/src/features/annotate/components/types/Position.ts
  crest-annotation-web/src/features/annotate/epics.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice.ts
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/slice/canvas.ts
  crest-annotation-web/src/features/annotate/slice/tools.ts
  crest-annotation-web/src/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

feat: improve group tool
  crest-annotation-web/src/features/annotate/components/AnnotationsLayer.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/slice/tools.ts
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: restore pan
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/InputStage.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: input improvements
  crest-annotation-web/src/features/annotate/components/InputStage.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

fix: persist docker data
  .dockerignore
  crest-annotation-backend/.dockerignore
  crest-annotation-docker/docker-compose.yaml
  crest-annotation-docker/web/Dockerfile
  crest-annotation-web/.dockerignore
  deploy.sh
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

feat: support for IIIF 2 and IIIF 1 Image API
  crest-annotation-backend/.env.local
  crest-annotation-backend/alembic/versions/181a9a9eab20_remove_image_uris.py
  crest-annotation-backend/app/api/__init__.py
  crest-annotation-backend/app/api/import_objects_iiif2/__init__.py
  crest-annotation-backend/app/api/import_objects_iiif2/dependencies.py
  crest-annotation-backend/app/api/import_objects_iiif2/router.py
  crest-annotation-backend/app/api/import_objects_iiif2/schemas.py
  crest-annotation-backend/app/api/import_objects_iiif2/tests/__init__.py
  crest-annotation-backend/app/api/import_objects_iiif2/tests/example-book-1.json
  crest-annotation-backend/app/api/import_objects_iiif2/tests/test_dependencies.py
  crest-annotation-backend/app/api/import_objects_iiif3/dependencies.py
  crest-annotation-backend/app/api/import_objects_iiif3/resolver.py
  crest-annotation-backend/app/api/import_objects_iiif3/schemas.py
  crest-annotation-backend/app/api/import_objects_iiif3/test/__init__.py
  crest-annotation-backend/app/api/import_objects_iiif3/test/cookbook-0009-book-1.json
  crest-annotation-backend/app/api/import_objects_iiif3/test/test_dependencies.py
  crest-annotation-backend/app/api/service_image_iiif/iiif1.py
  crest-annotation-backend/app/api/service_image_iiif/iiif2.py
  crest-annotation-backend/app/models/objects.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/modifiers.py
  crest-annotation-backend/app/schemas/object.py
  crest-annotation-backend/requirements.txt
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/features/project/wizards/objects-iiif2/InfoPage.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif2/SourcePage.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif2/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

feat: pagination
  crest-annotation-backend/app/dependencies/db.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/app/routers/projects.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/sorting.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/dialogs/SelectProjectDialog.tsx
  crest-annotation-web/src/components/layouts/CardLayout.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/objects/components/ObjectCard.tsx
  crest-annotation-web/src/features/objects/index.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif2/InfoPage.tsx
  crest-annotation-web/src/features/projects/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

feat: add 'on delete cascade' to project id and create a new alembic version
  crest-annotation-backend/alembic/versions/8ab01349fa0c_add_delete_cascade_project_id.py
  crest-annotation-backend/app/models/labels.py
  crest-annotation-backend/app/models/objects.py
  crest-annotation-backend/app/routers/objects.py
Due: lint-backend, Build and publish backend docker image

feat: add delete for projects on projects page
  crest-annotation-web/src/features/projects/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: add conformation popup for project deletion
  crest-annotation-web/src/components/dialogs/DeleteProjectDialog.tsx
  crest-annotation-web/src/features/projects/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

fix: remove wrong navigation after deleting a project
  crest-annotation-web/src/components/dialogs/DeleteProjectDialog.tsx
  crest-annotation-web/src/features/projects/index.tsx
Due: style-web, lint-web, build-web, Build and publish web docker image

feat: image counts
  .dockerignore
  crest-annotation-backend/app/api/service_image_iiif/__init__.py
  crest-annotation-backend/app/api/service_image_iiif/iiif1.py
  crest-annotation-backend/app/api/service_image_iiif/iiif2.py
  crest-annotation-backend/app/api/service_image_iiif/iiif3.py
  crest-annotation-backend/app/main.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-backend/requirements.txt
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

feat: export to yaml
  crest-annotation-backend/app/api/__init__.py
  crest-annotation-backend/app/api/export_yaml/__init__.py
  crest-annotation-backend/app/api/export_yaml/router.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/api/rootApi.ts
  crest-annotation-web/src/components/dialogs/DeleteProjectDialog.tsx
  crest-annotation-web/src/features/project/components/WizardsTab.tsx
  crest-annotation-web/src/features/project/index.tsx
  crest-annotation-web/src/features/project/wizards/export-yaml/InfoPage.tsx
  crest-annotation-web/src/features/project/wizards/export-yaml/index.tsx
  crest-annotation-web/src/features/project/wizards/objects-iiif2/InfoPage.tsx
  crest-annotation-web/src/features/projects/components/ProjectCard.tsx
  crest-annotation-web/src/features/projects/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

feat: un-annotate objects
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/app/schemas/object.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/objects/index.tsx
  crest-annotation-web/src/features/project/index.tsx
  crest-annotation-web/src/features/projects/components/ProjectCard.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

fix: un-annotate objects
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-web/src/features/annotate/index.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

fix: group tool extra reducers
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/object.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/app/slice.ts
  crest-annotation-web/src/app/store.ts
  crest-annotation-web/src/components/Dot.tsx
  crest-annotation-web/src/components/StateSelect.tsx
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/components/ToolbarSelect.tsx
  crest-annotation-web/src/features/annotate/components/AnnotationsList.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/EditAnnotationDialog.tsx
  crest-annotation-web/src/features/annotate/components/InputStage.tsx
  crest-annotation-web/src/features/annotate/components/LabelsPopup.tsx
  crest-annotation-web/src/features/annotate/components/tools/Circle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Line.tsx
  crest-annotation-web/src/features/annotate/components/tools/Polygon.tsx
  crest-annotation-web/src/features/annotate/components/tools/Rectangle.tsx
  crest-annotation-web/src/features/annotate/components/tools/Shape.tsx
  crest-annotation-web/src/features/annotate/components/tools/Types.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/slice/canvas.ts
  crest-annotation-web/src/features/annotate/slice/tools.ts
  crest-annotation-web/src/features/objects/index.tsx
  crest-annotation-web/src/types/Events.ts
  crest-annotation-web/src/types/Position.ts
  crest-annotation-web/src/types/Transformation.ts
  crest-annotation-web/src/types/Translation.ts
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image
