Repository Digital-History-Berlin/CREST-Annotation: changes, and which Bitbucket steps are due for each by the changed paths.
All: install-web, style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

Path conditions:
  install-web: any of: crest-annotation-web/package.*.json
  style-web: any of: crest-annotation-web/**
  lint-web: any of: crest-annotation-web/**
  build-web: any of: crest-annotation-web/**
  lint-backend: any of: crest-annotation-backend/**
  Build and publish backend docker image: any of: crest-annotation-backend/**, crest-annotation-docker/**, **
  Build and publish web docker image: any of: crest-annotation-web/**, crest-annotation-docker/**, **

fix: memory problems
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: decrease default docker memory
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: deployment
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: remove flag
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

chore: use aws-cli instead of sam image
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

chore: try to use ubuntu as base image
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

feat: use env for ecs context
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: use docker image as base image
  bitbucket-pipelines.yml
  crest-annotation-docker/docker-compose.yaml
Due: Build and publish backend docker image, Build and publish web docker image

fix: must use apk
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: py3-pip
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: incorrect command
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: curl target dir
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: path for docker
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: docker login with default docker
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: try again
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: missing chmod
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

chore: simple workaround to deploy
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

wip: possible task definitions
  crest-annotation-docker/backend-definition.json
  crest-annotation-docker/db-definition.json
  crest-annotation-docker/task-definition.json
  crest-annotation-docker/web-definition.json
Due: Build and publish backend docker image, Build and publish web docker image

chore: testrun
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: backend url and pipeline test
  bitbucket-pipelines.yml
  crest-annotation-docker/docker-compose.aws.yaml
Due: Build and publish backend docker image, Build and publish web docker image

chore: delete obsolete lockfile
  package-lock.json
Due: Build and publish backend docker image, Build and publish web docker image

fix: missing polygon .ts file
  crest-annotation-web/src/features/annotate/tools/polygon.ts
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

chore: include eslint package
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

chore: update include paths
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

chore: bitbucket pipeline path
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

feat: add labels to annotations
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-docker/README.md
  crest-annotation-docker/backend/Dockerfile
  crest-annotation-docker/examples/Armorial_de_l'Europe_et_de_[...]_btv1b55009806h_74.jpeg
  crest-annotation-openapi/openapi.json
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/app/store.ts
  crest-annotation-web/src/features/annotate/components/AnnotationsList.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/LabelsList.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice.ts
  crest-annotation-web/src/features/annotate/tools/circle.ts
  crest-annotation-web/src/features/annotate/tools/line.ts
  crest-annotation-web/src/features/annotate/tools/polygon.ts
  crest-annotation-web/src/features/annotate/tools/rectangle.ts
  crest-annotation-web/src/features/annotate/tools/shape.ts
  crest-annotation-web/src/features/counter/Counter.module.css
  crest-annotation-web/src/features/counter/Counter.tsx
  crest-annotation-web/src/features/counter/counterAPI.ts
  crest-annotation-web/src/features/counter/counterSlice.spec.ts
  crest-annotation-web/src/features/counter/counterSlice.ts
  crest-annotation-web/src/features/project/components/SettingsTab.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

fix: add fill on closed polygon
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

feat: label colors
  bitbucket-pipelines.yml
  crest-annotation-backend/README.md
  crest-annotation-backend/alembic.ini
  crest-annotation-backend/alembic/README
  crest-annotation-backend/alembic/env.py
  crest-annotation-backend/alembic/script.py.mako
  crest-annotation-backend/alembic/versions/52f2a001a868_initial_migration.py
  crest-annotation-backend/alembic/versions/d282d5728f25_change_default_value_for_objects_.py
  crest-annotation-backend/app/main.py
  crest-annotation-backend/app/models/labels.py
  crest-annotation-backend/app/models/objects.py
  crest-annotation-backend/app/routers/labels.py
  crest-annotation-backend/app/schemas/label.py
  crest-annotation-backend/requirements.txt
  crest-annotation-docker/examples/NRW.png
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/Dot.tsx
  crest-annotation-web/src/features/annotate/components/AnnotationsList.tsx
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/LabelsList.tsx
  crest-annotation-web/src/features/annotate/slice.ts
  crest-annotation-web/src/features/annotate/tools/line.ts
  crest-annotation-web/src/features/project/components/LabelRow.tsx
  crest-annotation-web/src/features/project/components/LabelsTab.tsx
Due: style-web, lint-web, build-web, lint-backend, Build and publish backend docker image, Build and publish web docker image

chore: fix lint
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/slice.ts
  crest-annotation-web/src/features/project/components/SettingsTab.tsx
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

chore: always run web build step
  bitbucket-pipelines.yml
Due: Build and publish backend docker image, Build and publish web docker image

fix: adjust python versions
  bitbucket-pipelines.yml
  crest-annotation-docker/backend/Dockerfile
Due: Build and publish backend docker image, Build and publish web docker image

fix: avoid upgrade in pip install
  crest-annotation-docker/backend/Dockerfile
Due: Build and publish backend docker image, Build and publish web docker image

chore: use env for alembic
  crest-annotation-backend/alembic.ini
  crest-annotation-backend/alembic/env.py
Due: lint-backend, Build and publish backend docker image, Build and publish web docker image

fix: correctly loading annotations
  crest-annotation-web/src/features/annotate/slice.ts
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

feat: shape visibility
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

feat: improve polygon tool
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/tools/polygon.ts
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

feat: select on canvas
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice.ts
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

chore: remove obsolete variable
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

feat: change cursor if moved over start of polygon
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image

feat: close polygon with key press (CTRL + K for now)
  crest-annotation-web/src/features/annotate/components/Canvas.tsx
Due: style-web, lint-web, build-web, Build and publish backend docker image, Build and publish web docker image
