Repository Digital-History-Berlin/CREST-Annotation: changes, and which Bitbucket steps are due for each by the changed paths.
All: Upgrade database, Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

Path conditions:
  Upgrade database: any of: crest-annotation-backend/alembic/**, bitbucket-pipelines.yml
  Install web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Style check web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Lint web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Build web: any of: crest-annotation-web/**, bitbucket-pipelines.yml
  Lint backend: any of: crest-annotation-backend/**, bitbucket-pipelines.yml
  Build and publish backend docker image: any of: crest-annotation-backend/**, crest-annotation-docker/**, bitbucket-pipelines.yml
  Build and publish web docker image: any of: crest-annotation-web/**, crest-annotation-docker/**, bitbucket-pipelines.yml
  Deploy to ECS: any of: crest-annotation-docker/**, crest-annotation-backend/**, crest-annotation-web/**, bitbucket-pipelines.yml

feat: restore grouping functionality
  crest-annotation-web/src/features/annotate/components/canvas/AnnotationsLayer.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarTools.tsx
  crest-annotation-web/src/features/annotate/slice/toolbox.ts
  crest-annotation-web/src/features/annotate/toolbox/create-atomic-drag-tool.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/polygon/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/tool-modifiers.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

chore: minor change
  crest-annotation-backend/app/api/import_labels_ontology/router.py
  crest-annotation-backend/app/api/service_image_iiif/iiif1.py
Due: Lint backend, Build and publish backend docker image, Deploy to ECS

feat: logo and placeholder
  crest-annotation-backend/iiif.sqlite
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-web/public/favicon-crest.ico
  crest-annotation-web/public/favicon.ico
  crest-annotation-web/public/index.html
  crest-annotation-web/src/assets/crest.svg
  crest-annotation-web/src/components/Logo.tsx
  crest-annotation-web/src/components/RequestInput.tsx
  crest-annotation-web/src/components/Toolbar.tsx
  crest-annotation-web/src/components/layouts/PlaceholderLayout.tsx
  crest-annotation-web/src/features/projects/index.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

chore: deployment changes
  crest-annotation-backend/README.md
  crest-annotation-backend/iiif.sqlite
  crest-annotation-docker/backend/Dockerfile
  crest-annotation-docker/deploy-cluster.sh
  crest-annotation-docker/docker-compose.aws.yaml
  crest-annotation-docker/docker-compose.yaml
  crest-annotation-docker/web/Dockerfile
  crest-annotation-docker/web/nginx-no-auth.conf.template
  deploy-aws.sh
  deploy-dockerhub.sh
Due: Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: lock object to avoid duplicate editing
  crest-annotation-backend/alembic/versions/29e4b29bde08_add_object_lock.py
  crest-annotation-backend/app/models/objects.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/iiif.sqlite
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/features/annotate/components/sections/AnnotationsContainer.tsx
  crest-annotation-web/src/features/annotate/components/sections/StatusbarProgress.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarTools.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarUnlock.tsx
  crest-annotation-web/src/features/annotate/hooks/use-annotation-middleware.ts
  crest-annotation-web/src/features/annotate/hooks/use-object-lock.ts
  crest-annotation-web/src/features/annotate/slice/annotations.ts
Due: Upgrade database, Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

feat: SAM2 for crest detection
  crest-annotation-backend/iiif.sqlite
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/Configuration.tsx
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/thunks.ts
  crest-annotation-web/src/features/annotate/toolbox/cv/crest-detection/types.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

chore: remove obsolete files
  bitbucket-pipelines.yml
  crest-annotation-docker/deploy-cluster.sh
  crest-annotation-docker/docker-compose.aws.yaml
  deploy-aws.sh
Due: Upgrade database, Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

fix: minor fix
  crest-annotation-backend/app/api/annotations_digital_heraldry/dependencies.py
Due: Lint backend, Build and publish backend docker image, Deploy to ECS

wip: some changes, broken navigation
  crest-annotation-web/src/components/Toolbar.tsx
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/components/ToolbarTabs.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarActions.tsx
  crest-annotation-web/src/features/annotate/hooks/use-object-controller.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/objects/index.tsx
  crest-annotation-web/src/features/project/index.tsx
  crest-annotation-web/src/features/projects/index.tsx
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

wip: improve navigation
  crest-annotation-backend/alembic/versions/9e7453295fdd_object_position_field.py
  crest-annotation-backend/app/api/import_objects_digital_heraldry/router.py
  crest-annotation-backend/app/api/import_objects_filesystem/router.py
  crest-annotation-backend/app/api/import_objects_iiif2/router.py
  crest-annotation-backend/app/api/import_objects_iiif3/router.py
  crest-annotation-backend/app/models/objects.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-backend/app/schemas/__init__.py
  crest-annotation-backend/app/schemas/object.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/src/api/enhancedApi.ts
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/app/slice.ts
  crest-annotation-web/src/features/annotate/components/sections/ToolbarActions.tsx
  crest-annotation-web/src/features/annotate/hocs/with-annotation-middleware.tsx
  crest-annotation-web/src/features/annotate/hooks/use-annotation-middleware.ts
  crest-annotation-web/src/features/annotate/hooks/use-navigate-random.ts
  crest-annotation-web/src/features/annotate/hooks/use-object-controller.ts
  crest-annotation-web/src/features/objects/components/ObjectCard.tsx
  crest-annotation-web/src/features/objects/index.tsx
Due: Upgrade database, Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

fix: minor fixes
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-web/src/features/annotate/components/sections/AnnotationsContainer.tsx
  crest-annotation-web/src/features/annotate/components/sections/ExternalState.tsx
  crest-annotation-web/src/features/annotate/components/sections/ImageDescription.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/objects/components/ObjectCard.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

fix: finish object fix
  crest-annotation-web/src/features/annotate/hooks/use-object-controller.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

feat: awesome new pan and zome
  crest-annotation-web/package-lock.json
  crest-annotation-web/package.json
  crest-annotation-web/src/features/annotate/components/canvas/BackgroundLayer.tsx
  crest-annotation-web/src/features/annotate/components/canvas/Canvas.tsx
  crest-annotation-web/src/features/annotate/hooks/use-canvas-gestures.ts
  crest-annotation-web/src/features/annotate/hooks/use-input-events.ts
  crest-annotation-web/src/features/annotate/utils/canvas-bounds.ts
Due: Install web, Style check web, Lint web, Build web, Build and publish web docker image, Deploy to ECS

wip: working on synchronization
  .vscode/settings.json
  crest-annotation-backend/app/api/import_objects_digital_heraldry/dependencies.py
  crest-annotation-backend/app/api/import_objects_digital_heraldry/router.py
  crest-annotation-backend/app/api/import_objects_filesystem/dependencies.py
  crest-annotation-backend/app/api/import_objects_filesystem/router.py
  crest-annotation-backend/app/api/import_objects_iiif2/dependencies.py
  crest-annotation-backend/app/api/import_objects_iiif2/router.py
  crest-annotation-backend/app/api/import_objects_iiif3/dependencies.py
  crest-annotation-backend/app/api/import_objects_iiif3/router.py
  crest-annotation-backend/app/routers/objects.py
  crest-annotation-openapi/openapi.json
  crest-annotation-web/.prettierrc
  crest-annotation-web/src/api/openApi.ts
  crest-annotation-web/src/components/ToolbarButton.tsx
  crest-annotation-web/src/features/annotate/components/canvas/BackgroundLayer.tsx
  crest-annotation-web/src/features/annotate/components/canvas/Canvas.tsx
  crest-annotation-web/src/features/annotate/components/sections/AnnotationsContainer.tsx
  crest-annotation-web/src/features/annotate/components/sections/ExternalState.tsx
  crest-annotation-web/src/features/annotate/components/sections/SynchronizationState.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarActions.tsx
  crest-annotation-web/src/features/annotate/components/sections/ToolbarTools.tsx
  crest-annotation-web/src/features/annotate/hooks/use-canvas-gestures.ts
  crest-annotation-web/src/features/annotate/hooks/use-object-controller.ts
  crest-annotation-web/src/features/annotate/hooks/use-object-lock.ts
  crest-annotation-web/src/features/annotate/hooks/use-resize-observer.ts
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/annotate/slice/canvas.ts
  crest-annotation-web/src/features/objects/components/ObjectCard.tsx
  crest-annotation-web/src/features/project/wizards/objects-digital-heraldry/SourcePage.tsx
  crest-annotation-web/src/utils/error-message.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: minor import refactor
  crest-annotation-backend/app/api/annotations_digital_heraldry/dependencies.py
  crest-annotation-backend/app/api/bundle_digital_heraldry/__init__.py
  crest-annotation-backend/app/api/import_objects_digital_heraldry/dependencies.py
  crest-annotation-backend/app/api/import_objects_digital_heraldry/router.py
  crest-annotation-web/src/components/dialogs/ErrorDialog.tsx
  crest-annotation-web/src/features/annotate/components/sections/SynchronizationState.tsx
  crest-annotation-web/src/features/annotate/index.tsx
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/project/components/AnnotationsTab.tsx
  crest-annotation-web/src/features/project/synchronizations/digital-heraldry/index.tsx
  crest-annotation-web/src/features/project/synchronizations/digital-heraldry/queries.ts
  crest-annotation-web/src/features/project/wizards/objects-digital-heraldry/SourcePage.tsx
  crest-annotation-web/src/features/project/wizards/objects-digital-heraldry/queries.ts
  crest-annotation-web/src/features/projects/index.tsx
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS

wip: working state with synchronization
  crest-annotation-backend/app/api/annotations_digital_heraldry/dependencies.py
  crest-annotation-backend/app/api/import_labels_ontology/dependencies.py
  crest-annotation-backend/app/api/import_labels_ontology/router.py
  crest-annotation-backend/app/api/import_objects_digital_heraldry/dependencies.py
  crest-annotation-web/src/features/annotate/components/sections/AnnotationsContainer.tsx
  crest-annotation-web/src/features/annotate/slice/annotations.ts
  crest-annotation-web/src/features/project/components/wizards/MergeLabelsDialog.tsx
  crest-annotation-web/src/features/project/synchronizations/digital-heraldry/PullQuery.tsx
  crest-annotation-web/src/features/project/synchronizations/digital-heraldry/PushQuery.tsx
  crest-annotation-web/src/features/project/synchronizations/digital-heraldry/index.tsx
  crest-annotation-web/src/features/project/synchronizations/digital-heraldry/queries.ts
  crest-annotation-web/src/features/project/wizards/labels-ontology/InfoPage.tsx
  crest-annotation-web/src/features/project/wizards/objects-digital-heraldry/SourcePage.tsx
  crest-annotation-web/src/features/project/wizards/objects-digital-heraldry/queries.ts
Due: Install web, Style check web, Lint web, Build web, Lint backend, Build and publish backend docker image, Build and publish web docker image, Deploy to ECS
